In [9]:
import os
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import re
import urllib.request
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [31]:
#Read all the needed datasets
import glob

input_file = r'.\data' # csv파일들이 있는 디렉토리 위치
output_file = r'.\data\Harry Potter.csv' # 병합하고 저장하려는 파일명

allFile_list = glob.glob(os.path.join(input_file, 'Harry Potter *')) # glob함수로 sales_로 시작하는 파일들을 모은다
print(allFile_list)
allData = [] # 읽어 들인 csv파일 내용을 저장할 빈 리스트를 하나 만든다
for file in allFile_list:
    df = pd.read_csv(file,sep=';', names = ['Character', 'Sentence'], encoding='iso-8859-1') # for구문으로 csv파일들을 읽어 들인다
    allData.append(df) # 빈 리스트에 읽어 들인 내용을 추가한다

dataCombine = pd.concat(allData, axis=0, ignore_index=True) # 리스트의 내용을 수직으로 병합. ignore_index=True는 인데스 값이 기존 순서를 무시하고 순서대로 정렬되도록 한다.
dataCombine.to_csv(output_file, index=False) # to_csv함수로 저장한다. 인데스를 빼려면 False로 설정

harry=pd.read_csv('./data/Harry Potter.csv')
harry[:10]

'''harry1=pd.read_csv('./data/Harry Potter 1.csv',sep=';',encoding='iso-8859-1')'''

['.\\data\\Harry Potter 1.csv', '.\\data\\Harry Potter 2.csv', '.\\data\\Harry Potter 3.csv']

In [39]:
'''harry1.groupby('Character').count().sort_values(by='Sentence',ascending='False')'''

               Sentence
Character
Woman                 1
Ginny                 1
Gryffindors           1
George                1
Madam Hooch           1
...                 ...
Ron                  84
Ron                 104
Harry               136
Hagrid              149
Harry               155

[91 rows x 1 columns]

In [ ]:
# data 정제하기

harry1['Sentence'] = harry1['Sentence'].str.replace('[^a-zA-Z ]', '') #알파벳과 공백을 제외하고 모두 제거